@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.btn-primary,
.btn-outline-primary {
    background-color: #A288A6;
    border: none;
}

.btn-outline-primary:hover {
    background-color: #A288A6;
    border: none;
}

.btn-outline-primary{
    color:white;
}

.main-sidebar {
    background-color: #1C1D21;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus {
    background-color: #A288A6;
    color: #ffffff;
}

.select2-container--default .select2-purple .select2-selection--multiple .select2-selection__choice, .select2-purple .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #A288A6;
    border-color: #A288A6;
    color: #fff;
}

.card{
    padding: 3px;
    border-radius: 8px;
}

.modal-content{
    padding: 3px;
    border-radius: 8px;
}

.btn{
    padding: 5px 10px;
    border-radius: 8px;
}
.info-box{
    padding: 5px 10px;
    border-radius: 15px;
}
.info-box-icon.elevation-1{
    border-radius: 50%;
}
input[type="search"]{
    padding: 10px 15px;
    border-radius: 5px;
}

.nav.nav-pills.nav-sidebar.flex-column{
    margin-top: 1rem;
}



p,
label,
a,
button,
li,
span,
table,
input,
th,
td, .btn, .badge {
  font-family: 'Rubik', sans-serif;
  font-size: 12px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px !important;
}

button {
  padding: 5px 5px !important;
  font-size: 11px !important;
  font-family: 'Rubik', sans-serif;
}
.badge, .btn{
    border-radius: 50px;
    padding: 5px 15px!important;
}
.select2-selection__rendered{
    margin: -8px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: unset!important;
}
#toast-container .toast-warning,
#toast-container .toast-warning button{
    color: black!important;
}